<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
  margin: 0;
  padding: 0;
  background-image: url(https://cdn.glitch.global/82efc5c8-182f-4d8d-98a1-bb540c118334/hj.jpg?v=1670084691320);
  background-size: cover;
  
  
  height: 100vh;
  overflow: hidden;
}
h1{
    padding-top: 50px;
    padding-left: 300px;
    font-size: 60px;
}
p{
    font-size: 30px;
    color: rgb(239, 148, 56);
    font-family: algerian;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  background-size: 100%;
}
::selection{
  color: #000;
  background: #fff;
}
nav{
  position: fixed;
  background: #1b1b1b;
  width: 100%;
  padding: 10px 0;
  z-index: 12;
}
nav .menu{
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.menu .logo a{
  text-decoration: none;
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.menu ul{
  display: inline-flex;
}
.menu ul li{
  list-style: none;
  margin-left: 7px;
}
.menu ul li:first-child{
  margin-left: 0px;
}
.menu ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.menu ul li a:hover{
  background: #fff;
  color: black;
}

</style>
<body>
    <nav>
        <div class="menu">
          <div class="logo">
            <a href="#">nutri health</a>
          </div>
          <ul>
            
            <li><a href="http://localhost:3000/login" >login</a></li>
            <li><a href="http://localhost:3000/register" >register</a></li>
            
          </ul>
        </div>
      </nav>
    <h1 align="left" style="color: rgb(46, 232, 74); padding-top: 300px; font-family:monospace;">NUTRI  HEALTH</h1>
    <br><br><br>
    <p>Nutrients: The substances in food that your body needs to function properly<br>
        * you use nutrients to keep your body healthy<br>
        * most nutrients come from what you eat
    </p><br><br><br><br><br><br>
    
 
    
     
</body>
</html>
