<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-image: url("https://img.freepik.com/premium-photo/keto-ketogenic-diet-low-carb-healthy-food-black-stone-background-top-view-copy-space_187166-28161.jpg?w=2000");
            background-size: 100%;
            color: white;
        }
        </style>
   
       
   
</head>
<body>
    <style>
        h1 {
           padding-left:50px;
           padding-right:400px;
        }
    </style>
    <h1 align = 'center' style="color:rgb(168, 205, 120)"> WELCOME TO <br> NUTRI HEALTH</h1><br>
   <form method="GET" action="/food" align = 'center'>
    <br><br><br>
    <style>
        p{
           padding-left:50px;
           padding-right:400px;
           
           
        }
    </style>
    <br>
        <p align='center' style="color:rgb(243, 154, 240); font-size: xx-large;" > <b>SEARCH  ITEM </b> <input style="height: 30px;" type = "text" name = "item"><br><br></p>
        <p> <input style="height: 40px;" type = "submit" value = "browse"></p>
        </form>
</body>
</html>
